p{
  font-size: 3em;
}
/*estilos al carrousel*/
 .couple{
  background-image: url(../assets/images/MEANS-01.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.friends{
  background-image: url(../assets/images/MEANS-02.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.alone{
  background-image: url(../assets/images/MEANS-03.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.best-friend{
  background-image: url(../assets/images/MEANS-04.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.family{
  background-image: url(../assets/images/MEANS-05.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-index{
  margin-bottom: 2em;
}

@media(min-width: 768px){
  p{
    font-size: 4em;
  }
}