/* Estilos Universales */
* {
	box-sizing: border-box;
	margin : 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}
/* Clases Reutilizables */

.navbar-brand{
	padding: 3px;
}
.navbar-brand img{
	height: 100%;
}
