.romantica {
  color: yellow important!;
}

.hide{
  display: none;
}

.img-random{
  margin-top: 5rem;
  margin-bottom: 2rem;
  height: 70vh;
  border-radius: 10px;
  border: 3px solid rgba(197,31,72,1);
}

.information{
  background-color: rgba(197,31,72,1);
  text-align: left;
  border-radius: 20px;
}

.dates{
  line-height: 2;
  font-size: 16px;
}
