.btn-1-1{
	background: rgba(71,18,63,1);
	background: -moz-linear-gradient(-45deg, rgba(71,18,63,1) 0%, rgba(197,31,72,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,18,63,1)), color-stop(100%, rgba(197,31,72,1)));
	background: -webkit-linear-gradient(-45deg, rgba(71,18,63,1) 0%, rgba(197,31,72,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(71,18,63,1) 0%, rgba(197,31,72,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(71,18,63,1) 0%, rgba(197,31,72,1) 100%);
	background: linear-gradient(135deg, rgba(71,18,63,1) 0%, rgba(197,31,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47123f', endColorstr='#c51f48', GradientType=1 );
    height: 50%;
}

#size-img {
    width: 3em;
    height: 3em;
}