<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="keywords" content="Movie Without Conflict">
  <meta name="description" content="Movie Without Conflict">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <!-- Enlace fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
  <!-- Enlace Bootstrap - Estilos -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Enlace - Elaboración Propia - Estilos -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/option-group.css">
  <title>Movie whitout Conflict</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="../assets/images/MEANS-07.png">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Con mi gente<span class="sr-only">(current)</span></a></li>
              <li><a href="option-alone.html">Solito :(</a></li>
              <li><a href="search-peli.html">Mi busqueda</a></li>
              <li><a href="help.html">Ayuda</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <section class="movie-group">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1">
          <h1>Una peli con mi Gente!</h1>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="../assets/images/MEANS-08.png" alt="friends">
        </div>
        <!-- aqui el selector -->
        <div class="col-xs-12 col-sm-3">
          <h3>Cuantos somos? <img src="../assets/images/27.png" alt="pensativo" class="think"></h3>
          <select title="persons" class="selectpicker col-xs-8 col-xs-offset-2" id="person-number">
            <option value="1">Selecciona</option>
            <option value="2" class="hello">2 Personas</option>
            <option value="3" class="hello">3 Personas</option>
            <option value="4" class="hello">4 Personas</option>
            <option value="5" class="hello">5 Personas</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <section class="result-profile">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- aqui va los input para gustos -->
        </div>
      </div>
    </div>
  </section>
  <!-- carrousel temporal -->
  <section class="carousel-temp">
    <div class="container">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide col-xs-10 col-xs-offset-1" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="../assets/images/pelis1.jpg" alt="...">
            </div>
            <div class="item">
              <img src="../assets/images/pelis2.jpg" alt="...">
            </div>
            <div class="item">
              <img src="../assets/images/pelis3.jpg" alt="...">
            </div>
            <div class="item">
              <img src="../assets/images/pelis4.jpg" alt="...">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
        </div>
      </div>
    </section>
    <!-- seccion de iconos para elegir -->
    <section class="friends-icons">
      <div class="container">
        <div class="row" id="choose-gender">
          <!-- 1 -->
          <div class="select-gender" id="select-1">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
              <input type="text" placeholder="Escribe tu nombre" class="form-control">
            </div>
            <h3 class="col-xs-12">¿Que Género prefieres?</h3>
            <div class="icons-gender">
              <div class="genders col-xs-3 accion">
                <img class="" src="../assets/icons/icons-03.png" alt="accion">
                <p>Acción</p>
              </div>      
              <div class="genders col-xs-3 animada">
                <img class="" src="../assets/icons/icons-01.png" alt="animado">
                <p>Animado</p>
              </div> 
              <div class="genders col-xs-3 aventura">
                <img class="" src="../assets/icons/icons-09.png" alt="aventura">
                <p>Aventura</p>
              </div>   
              <div class="genders col-xs-3 cienciaficcion">
                <img class="" src="../assets/icons/icons-06.png" alt="Ciencia ficción">
                <p>C. Ficción</p>
              </div>  
              <div class="genders col-xs-3 comedia">
                <img class="" src="../assets/icons/icons-11.png" alt="Comedia">
                <p>Comedia</p>
              </div>     
              <div class="genders col-xs-3 drama">
                <img class="" src="../assets/icons/icons-10.png" alt="Drama">
                <p>Drama</p>
              </div> 
              <div class="genders col-xs-3 erotico">
                <img class="" src="../assets/icons/icons-12.png" alt="Erotico">
                <p>Erótico</p>
              </div>   
              <div class="genders col-xs-3 fantasia">
                <img class="" src="../assets/icons/icons-02.png" alt="Fantasía">
                <p>Fantasía</p>
              </div>      
              <div class="genders col-xs-3 musical">
                <img class="" src="../assets/icons/icons-07.png" alt="Musical">
                <p>Musical</p>
              </div> 
              <div class="genders col-xs-3 romantica">
                <img class="" src="../assets/icons/icons-08.png" alt="Romantica">
                <p>Romantica</p>
              </div>   
              <div class="genders col-xs-3 suspenso">
                <img class="" src="../assets/icons/icons-05.png" alt="Suspenso">
                <p>Suspenso</p>
              </div>      
              <div class="genders col-xs-3 terror">
                <img class="" src="../assets/icons/icons-04.png" alt="Terror">
                <p>Terror</p>
              </div>                
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="select-gender" id="select-2">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
              <input type="text" placeholder="Escribe tu nombre" class="form-control">
            </div>
            <h3 class="col-xs-12">¿Que Género prefieres?</h3>
            <div class="icons-gender">
              <div class="genders col-xs-3 accion">
                <img src="../assets/icons/icons-03.png" alt="accion">
                <p>Acción</p>
              </div>      
              <div class="genders col-xs-3 animada">
                <img src="../assets/icons/icons-01.png" alt="animado">
                <p>Animado</p>
              </div> 
              <div class="genders col-xs-3 aventura">
                <img src="../assets/icons/icons-09.png" alt="aventura">
                <p>Aventura</p>
              </div>   
              <div class="genders col-xs-3 cienciaficcion">
                <img src="../assets/icons/icons-06.png" alt="Ciencia ficción">
                <p>C. Ficción</p>
              </div>  
              <div class="genders col-xs-3 comedia">
                  <img src="../assets/icons/icons-11.png" alt="Comedia">
                  <p>Comedia</p>
                </div>     
                <div class="genders col-xs-3 drama">
                  <img src="../assets/icons/icons-10.png" alt="Drama">
                  <p>Drama</p>
                </div> 
                <div class="genders col-xs-3 erotico">
                  <img src="../assets/icons/icons-12.png" alt="Erotico">
                  <p>Erótico</p>
                </div>   
                <div class="genders col-xs-3 fantasia">
                  <img src="../assets/icons/icons-02.png" alt="Fantasía">
                  <p>Fantasía</p>
                </div>      
                <div class="genders col-xs-3 musical">
                  <img src="../assets/icons/icons-07.png" alt="Musical">
                  <p>Musical</p>
                </div> 
                <div class="genders col-xs-3 romantica">
                  <img src="../assets/icons/icons-08.png" alt="Romantica">
                  <p>Romantica</p>
                </div>   
                <div class="genders col-xs-3 suspenso">
                  <img class="" src="../assets/icons/icons-05.png" alt="Suspenso">
                  <p>Suspenso</p>
                </div>      
                <div class="genders col-xs-3 terror">            
                  <img class="" src="../assets/icons/icons-04.png" alt="Terror">
                  <p>Terror</p>
                </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="select-gender" id="select-3">
              <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
                <input type="text" placeholder="Escribe tu nombre" class="form-control">
              </div>            
             <h3 class="col-xs-12">¿Que Género prefieres?</h3>
              <div class="icons-gender">
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-03.png" alt="accion">
                  <p>Acción</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-01.png" alt="animado">
                  <p>Animado</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-09.png" alt="aventura">
                  <p>Aventura</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-06.png" alt="Ciencia ficción">
                  <p>C. Ficción</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-11.png" alt="Comedia">
                  <p>Comedia</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-10.png" alt="Drama">
                  <p>Drama</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-12.png" alt="Erotico">
                  <p>Erótico</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-02.png" alt="Fantasía">
                  <p>Fantasía</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-07.png" alt="Musical">
                  <p>Musical</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-08.png" alt="Romantica">
                  <p>Romantica</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-05.png" alt="Suspenso">
                  <p>Suspenso</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-04.png" alt="Terror">
                  <p>Terror</p>
                </div>
              </div>
          </div>
          <!-- 4 -->
          <div class="select-gender" id="select-4">
              <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
                <input type="text" placeholder="Escribe tu nombre" class="form-control">
              </div>
              <h3 class="col-xs-12">¿Que Género prefieres?</h3>
              <div class="icons-gender">
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-03.png" alt="accion">
                  <p>Acción</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-01.png" alt="animado">
                  <p>Animado</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-09.png" alt="aventura">
                  <p>Aventura</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-06.png" alt="Ciencia ficción">
                  <p>C. Ficción</p>
                </div>
                <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-11.png" alt="Comedia">
                    <p>Comedia</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-10.png" alt="Drama">
                    <p>Drama</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-12.png" alt="Erotico">
                    <p>Erótico</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-02.png" alt="Fantasía">
                    <p>Fantasía</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-07.png" alt="Musical">
                    <p>Musical</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-08.png" alt="Romantica">
                    <p>Romantica</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-05.png" alt="Suspenso">
                    <p>Suspenso</p>
                  </div>
                  <div class="genders col-xs-3">
                    <img src="../assets/icons/icons-04.png" alt="Terror">
                    <p>Terror</p>
                  </div>
              </div>
          </div>
          <!-- 5 -->
          <div class="select-gender" id="select-5">
              <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
                <input type="text" placeholder="Escribe tu nombre" class="form-control">
              </div>
              <h3 class="col-xs-12">¿Que Género prefieres?</h3>
              <div class="icons-gender">
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-03.png" alt="accion">
                  <p>Acción</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-01.png" alt="animado">
                  <p>Animado</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-09.png" alt="aventura">
                  <p>Aventura</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-06.png" alt="Ciencia ficción">
                  <p>C. Ficción</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-11.png" alt="Comedia">
                  <p>Comedia</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-10.png" alt="Drama">
                  <p>Drama</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-12.png" alt="Erotico">
                  <p>Erótico</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-02.png" alt="Fantasía">
                  <p>Fantasía</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-07.png" alt="Musical">
                  <p>Musical</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-08.png" alt="Romantica">
                  <p>Romantica</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-05.png" alt="Suspenso">
                  <p>Suspenso</p>
                </div>
                <div class="genders col-xs-3">
                  <img src="../assets/icons/icons-04.png" alt="Terror">
                  <p>Terror</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 btn-pelis">
          <input type="submit" id="match" class="btn-1 btn btn-primary btn-lg" value="Quiero mis pelis!">
        </div>
        <div class="col-xs-12 ">
          <img id="imagen" class="img-random hide" src=" http://es.web.img3.acsta.net/c_215_290/pictures/14/03/11/09/33/450247.jpg" alt="perro">
        </div>
      </div>
    </section>


  <!-- Enlace Jquery Vs 3.2.1 -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- Enlace Bootstrap - Funcionalidad en Javascript Vs 3.3.7 -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Enlace Elaboración Propia - Funcionalidad en Javascript -->
  <script src="../js/option-group.js"></script>
</body>
</html>
