<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="keywords" content="Movie Without Conflict">
  <meta name="description" content="Movie Without Conflict">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <!-- Enlace fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:300" rel="stylesheet">
  <!-- Enlace Bootstrap - Estilos -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Enlace - Elaboración Propia - Estilos -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/option-alone.css">
  <title>Movie whitout Conflict</title>
</head>
<body>
  <!-- inicio del navbar -->
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="../assets/images/MEANS-07.png">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="option-group.html">Con mi gente</a></li>
            <li class="active"><a href="#">Solito :(<span class="sr-only">(current)</span></a></li>
            <li><a href="help.html">Ayuda</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <!-- seccion donde elegiremos que ver -->
  <section class="movie-group-2">
    <div class="container">
      <!-- titulo -->
      <div class="row">
        <div class="col-xs-12">
          <h1>Estoy solo!<img src="../assets/images/3.png" alt="coqueto" class="smile"></h1>
        </div>
      </div>
      <!-- seccion de iconos para elegir -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 select-gender">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 input-name">
            <input type="text" placeholder="Escribe tu nombre" class="form-control" id="first-name">
          </div>
          <h3 class="col-xs-12">¿Que Género prefieres?</h3>
          <div class="icons-gender">
            <div class="genders col-xs-3 col-sm-2" id="action">
              <img src="../assets/icons/icons-03.png" alt="accion">
              <p>Acción</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="animada">
              <img src="../assets/icons/icons-01.png" alt="animado">
              <p>Animado</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="aventura">
              <img src="../assets/icons/icons-09.png" alt="aventura">
              <p>Aventura</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="cienciaficcion">
              <img src="../assets/icons/icons-06.png" alt="Ciencia ficción">
              <p>C. Ficción</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="comedia">
              <img src="../assets/icons/icons-11.png" alt="Comedia">
              <p>Comedia</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="drama">
              <img src="../assets/icons/icons-10.png" alt="Drama">
              <p>Drama</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="erotico">
              <img src="../assets/icons/icons-12.png" alt="Erotico">
              <p>Erótico</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="fantasy">
              <img src="../assets/icons/icons-02.png" alt="Fantasía">
              <p>Fantasía</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="musical">
              <img src="../assets/icons/icons-07.png" alt="Musical">
              <p>Musical</p>
            </div>
            <div class="genders col-xs-3 col-sm-2"id="romantica">
              <img src="../assets/icons/icons-08.png" alt="Romantica">
              <p>Romantica</p>
            </div>
            <div class="genders col-xs-3 col-sm-2"id="suspenso">
              <img src="../assets/icons/icons-05.png" alt="Suspenso">
              <p>Suspenso</p>
            </div>
            <div class="genders col-xs-3 col-sm-2" id="terror">
              <img src="../assets/icons/icons-04.png" alt="Terror">
              <p>Terror</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 btn-pelis">
          <input type="submit" class="btn-1 btn btn-primary btn-lg" id="boton" value="Quiero mis pelis!">
        </div>
        <div class="col-xs-12 ">
          <img id="imagen" class="img-random" src=" http://es.web.img3.acsta.net/c_215_290/pictures/14/03/11/09/33/450247.jpg" alt="perro">
        </div>
      </div>
    </div>
  </section>
  <!-- Enlace Jquery Vs 3.2.1 -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <!-- Enlace Bootstrap - Funcionalidad en Javascript Vs 3.3.7 -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Enlace Elaboración Propia - Funcionalidad en Javascript -->
  <script src="../js/option-alone.js"></script>
</body>
</html>
